<style>
.webring-left {
	text-align: right;
}
.webring-center {
	text-align: center;
}
.webring-right {
	text-align: left;
}
.webring-circle {
	min-width: 500px;
	min-height: 50px;
}
</style>
<table class="webring-circle" id="webring-circle">
	<script src="https://webring.thoughtsofmine.ca/script_ring.js"></script>
</table>
