.webring-left {
	text-align: right;
}
.webring-center {
	text-align: center;
}
.webring-right {
	text-align: left;
}
.webring-circle {
	min-width: 500px;
	min-height: 50px;
}
html, body {
	margin: 0;
	background: none transparent;
	max-width: max-content;
}
* {
	white-space: nowrap;
}