:root {
	--webring-height: 31px;
}
body {
	background: none transparent;
}
html, body {
	margin: 0;
}
.webring-text {
	flex-grow: 0;
}
.webring-items {
	flex-grow: 1;
	flex-shrink: 1;
	gap: 5px;
	display: flex;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	text-align: center;
	position: relative;
	justify-content: center;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.webring-item-image, .webring-item-text {
	max-height: var(--webring-height);
}
.webring-item-text {
	color: black !important;
	background-color: #eee;
	padding: 0 10px;
	box-sizing: border-box;
	--border-width: 2px;
	border-width: var(--border-width);
	border-style: solid;
	border-color: #c6c6c6 #878282 #878282 #c6c6c6;
	line-height: calc(var(--webring-height) - var(--border-width));
	text-decoration: none;
}